body{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

li {
	list-style: none;
}


.carousel-items {
    display: flex;
    overflow-x: scroll;
	padding: 1rem 0;
	scroll-snap-type: x mandatory;
	
}
.carousel-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
	margin-left: 1rem;
	scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}

img {
	width: 530px;
	height: 320px;
}

/* HEADER */

/* FOOTER */

footer{
	display:flex;
	justify-content:space-around;
	align-items: center;
	background-color:rgb(175, 166, 166);
	color:whitesmoke;
}
.heures{
	margin-top:20px;
}

.links{
	display:flex;
	justify-content: space-around
}

.icone{
    font-size:100px;
    color:rgb(0, 110, 255);
}
.facebook{
    font-size:100px;
    color:blue;
}
.deliveroo{
	width: 155px;
	height: auto;
}


@media screen and (min-width: 768px) and (max-width: 992px) {

	footer{
		display:flex;
		flex-direction:column;

	}

}

@media screen and (max-width:768px) {
    footer{
		display:flex;
		flex-direction:column;
	
	}

	.footer-right{
		overflow:hidden;
		position:relative;
		height:100%;
	}

	.footer-right iframe {
		left:0;
		top:0;
		height:100%;
	}
}

/* PRESENTATION */

h1{
	font-weight: bold;
	width:100%;
    height: 60vh;
    background-image: url(images/c22.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top:150px;
	color:whitesmoke;
}
