body{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin:0;
	padding:0;
	width:100%;
}

/* HEADER */
.img-header{
	display: none;
	width:100%;
}

/* PRESENTATION */

h1{
	font-weight: bold;
	width:100%;
    height: 60vh;
    background-image: url(images/c22.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top:150px;
	color:whitesmoke;
}
@media only screen and (max-width: 768px){
	h1{
		display: none;
	}
	.img-header{
		display: block;
	}
	.p-header{
		display:none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px){
	h1{
		display:none;
	}
	.img-header{
		display: block;
	}
	.p-header{
		display:block;
	}
}

/*BANNER*/

.banner-background{
	height: 30vh;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
    padding-top: 100px;
    opacity: 0.7;
}
/*MENU*/
.banner-background-menu{
	background-image: url(images/burgers.jpg); 
}
.card-menu-container{
	display:flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.margin-top{
	margin-top:10px;
}
.container-menu{
    display: flex;
    flex-direction: column;
	align-items: center;	
}
.card-title{
	text-decoration: underline;
}

@media only screen and (max-width: 768px){
	.banner-background-menu{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 0;
	}
	.card-menu-container{
		flex-direction: column;
		flex-wrap: wrap;
	}
	.card{
		margin-top: 30px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px){
	.banner-background-menu{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 5px;
	}
	.card-menu-container{
		flex-direction: column;
		flex-wrap: wrap;
	}
	.card{
		margin-top: 30px;
	}
}

/*EVENEMENTS*/
.banner-background-evenements{
	background-image: url(images/bieres.jpg);
}
@media only screen and (max-width: 768px){
	.banner-background-evenements{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.banner-background-evenements{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 5px;
	}
}
/*CONTACT*/
.banner-background-contact{
	background-image: url(images/tel.jpg);
	background-position-y: 70%;
}
@media only screen and (max-width: 768px){
	.banner-background-contact{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.banner-background-contact{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 5px;
	}
}
/* FOOTER */

footer{
	display:flex;
	justify-content:space-around;
	align-items: center;
	background-color:rgb(175, 166, 166);
	color:whitesmoke;
}
.links{
	display:flex;
	justify-content: space-around
}
.icone{
    font-size:100px;
    color:rgb(0, 110, 255);
}
.facebook{
    font-size:100px;
    color:blue;
}
.deliveroo{
	width: 155px;
	height: auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	footer{
		display:flex;
		flex-direction:column;
	}
}

@media screen and (max-width:768px) {
    footer{
		display:flex;
		flex-direction:column;	
	}
}



