body{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin:0;
	width:100%;
}

/*NAVBAR*/
li {
	list-style: none;
}
a{
	text-decoration: none;
	color:black;
}
nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	background-color: white;
}

.small-img{
	 width: 100px;
	 height: auto;
	 margin-right: auto;
 }

.logo{
	margin-right: auto; 
 }
.item-menu{
	 margin-right: 45px;
	 text-decoration: none;
	 color:black;
 }
 .item-menu:hover{
	border: 2px solid whitesmoke;
	background-color: #8cba03;
	padding:15px;
	border-radius: 10px;
	border: 2px solid whitesmoke;
	color:whitesmoke;
 }
 .anchor{
	 display: block;
	 height: 100px;
	 margin-top: -100px;
	 visibility: hidden;
 }
 .burger, .burger-title, .burger2{
	 display: none;
 }
 .open-burger {
	margin-top:100px;
	display:flex;
	float:right;
	transition: .6s;
}
.padding-nav{
	padding: 10px 10px 10px 10px;
}
.burger-icon{
	font-size:2em;
	padding-right:20Px;
	color:#8cba03;
}
 
 @media only screen and (max-width: 768px){
	 .menu-hidden{
		 display: none;
	 }
	 .burger-title{
		 display: flex;
		 margin-right: 40px;
	 }
	 .burger{
		 display:flex;
		 margin-right: 30px;
	 }	 
}

@media only screen and (min-width: 768px) and (max-width: 992px){
	.menu-hidden{
		display: none;}
	.burger{
		 display:flex;
		 margin-right: 30px;
	 }
	.burger-title{
		 display: flex;
		 margin-right: 200px;
	 }	
}

/* HEADER */
h1{
	font-weight: bold;
	width:100%;
    height: 60vh;
	background-image: url(images/c22.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top:80px;
	color:whitesmoke;
	margin-top: 100px;
}
.img-header{
	display: none;
	width:100%;
	margin-top: 100px;
}
@media only screen and (max-width: 768px){
	h1{
		display: none;
	}
	.img-header{
		display: block;
		opacity: 0.9;
	}
	.p-header{
		display:none;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	h1{
		display:none;
	}
	.img-header{
		display: block;
		opacity: 0.9;
	}
	.p-header{
		display:block;
	}
}

/*BANNER*/
.banner-background{
	height: 30vh;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
    padding-top: 100px;
    opacity: 0.7;
}
/*MENU*/
.banner-background-menu{
	background-image: url(images/burgers.jpg); 
}
.AB{
	display: flex;
	justify-content: space-between;
}
.B{
	margin-left:30px;
}
.ABC{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.C{
	padding-left: 0;
	
}
.D{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.EF{
	display:none;
}
.card-title{
	text-decoration: underline;
}
@media only screen and (max-width: 768px){
	.banner-background-menu{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 0;
	}
	.container-menu, .AB, .ABC{
		flex-direction: column;
		flex-wrap: wrap;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px){
	.banner-background-menu{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 5px;
	}
	.AB{
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
	}
	.EF{
		display:flex;
		justify-content: space-around;
		margin-top: 
	}
	.C, .D{
		display: none;
	}	
}

/*EVENEMENTS*/
.banner-background-evenements{
	background-image: url(images/bieres.jpg);
}
@media only screen and (max-width: 768px){
	.banner-background-evenements{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.banner-background-evenements{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 5px;
	}
}
.carousel{
	margin-top: 50px;
	margin-bottom: 50px;
}
.carousel-items {
    display: flex;
    overflow-x: scroll;
	padding: 1rem 0;
	scroll-snap-type: x mandatory;
	
}
.carousel-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
	margin-left: 1rem;
	scroll-snap-align: start;
}
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}
.carousel-img, .card {
	width:32vw;
}

@media only screen and (max-width: 768px){
    .card, .carousel-img{
		width:93vw;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
     .card, .carousel-img{
        width:97vw;
    }
}
/*CONTACT*/
.banner-background-contact{
	background-image: url(images/tel.jpg);
	background-position-y: 70%;
}
form {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 50px;
}
input, select{
	height: 1.5rem;
}
.contactus {
	display: flex;
    flex-direction: column;
    width: 80%;
	justify-content: center;
	
	align-items: center;
}
.select{
	width:60%;
}
.contact {
	display: flex;
	width: 60%;
}
.message{
	width: 60%;
	height: 100px;
}
.form-border{
	border: 1px grey solid;
	border-radius: 5px;
	background-color: whitesmoke;
}
.margintopform {
	margin-bottom: 15px;
	font-size: 1rem;
}
.button{
	background-color: #8cba03;
	padding:10px;
	border: 3px whitesmoke solid;
	border-radius: 10px;
	font-weight: bold;
	color: whitesmoke
}
@media only screen and (max-width: 768px){
	.banner-background-contact{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.banner-background-contact{
		background-image: none;
		background-color:#8cba03;
		height: 5vh;
		padding-top: 5px;
	}
}
/* FOOTER */

footer{
	display:flex;
	justify-content:space-around;
	align-items: center;
	background-color:rgb(175, 166, 166);
	color:whitesmoke;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.heures{
	margin-top:20px;
}
.links{
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.icone{
    font-size:100px;
    color:rgb(0, 110, 255);
}
.facebook{
    font-size:100px;
    color:blue;
}
.deliveroo{
	width: 90px;
	height: auto;
	border-radius: 10px;
}
iframe {
	border-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	footer{
		display:flex;
		flex-direction:column;
	}
}
@media screen and (max-width:768px) {
    footer{
		display:flex;
		flex-direction:column;	
	}
	.footer-right{
		overflow:hidden;
		position:relative;
	}
	
	.footer-right iframe {
		left:0;
		top:0;
		width: 90%;
	}
}



